.IPL_home_section {
    // margin-left: 25px;
    // margin-right: 25px;
    .Banner {
        .imageSlider_section .slidder {
            height: 572px;
        }
    }
    .RowGrid{
        // margin-top: 10px;
        // margin-bottom: 10px;
        padding: 10px;
    }
    .viewall {
        // margin-left: -95px;
        // margin-right: 20px;
        // width: 130px;
        // height: 35px;
        // text-align: center;
        // // padding: 2px 6px;
        // color: var(--primary) !important;
        font-size: 15px;
        // font-weight: 700;
        // background-color: var(--light);
        // border-radius: 5px;
        // margin: 0;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    @mixin text_commonproperty {
        color: var(--primary);
        font-weight: 700;
        // margin-top: 5px;
        font-size: 22px;
    }
    .IPL__text {
        @include text_commonproperty;
        // margin-left: 10px;
        margin: 0px;
    }
    .IPL__text_ipl {
        @include text_commonproperty;
        // margin-left: 20px;
        width: 90%;
    }
    .type_group {
        display: flex;
        flex-direction: row;
    }
    .space {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .link_color {
        // color: black;
        text-decoration: none;
    }
    .Videos {
        .react-multi-carousel-item {
            width: 375px !important;
        }
    }
    .News {
        .react-multi-carousel-item {
            width: 375px !important;
        }
    }
}