.IPL_Schedule {
    // @include themify($themes) {
    //     background: themed("bodyBackgroundColor");
    //     // color: themed('textColor');
    //   }
    .status_button {
        display: flex;
    }
    .form-check .form-check-input {
        float: right !important;
        margin: 0 !important;
        padding: 0 !important;
      }
      .form-check{
        margin: 0;
        padding-left: 0.1em !important;
      }
      input:focus, textarea:focus, select:focus{
        outline: none;
    }
      .form-check-input:checked{
    background-color: #E79E9B !important;
    border: none !important;
      }
    .live_text {
        width: auto;
        font-size: 12px;
        color: var(--secondary);
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 0px !important;
        margin-right: 0px !important;
    }
    @keyframes destraSinistra2 {
        0% {
            left: 5px;
        }
        100% {
            left: 32px;
            transform: translateX(-100%);
        }
    }
    #div1 {
        position: absolute;
        margin-top: -1px;
        width: 6px;
        height: 2.5px;
        background-color: var(--secondary);
        animation: destraSinistra2 1s linear infinite alternate;
    }
    .form-switch .form-check-input {
        background-image: url(../../../../../../../../../public/Images/switch.png) !important;
    }
    .form-check-input:disabled {
        opacity: 0.9 !important;
    }
    .livecomm-section {
        margin-right: 10px;
        margin-left: 10px;
    }
    .ss {
        background-color: var(--light);
        width: 100%;
        align-items: center;
        color: black;
    }
    .flex-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        justify-content: space-around;
    }
    .row-style {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card-child {
        display: flex;
        align-items: center;
        border: 2px solid #383838;
        border-radius: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-left: 25px solid var(--primary);
    }
    .img-flag {
        width: 110px;
        height: 110px;
    }
    .text_yellow {
        font-size: 40px;
        font-weight: 700;
        color: #ffcc00;
    }
    .comment-data-col3 {
        margin-left: 30px;
    }
    .red {
        color: var(--secondary);
    }
    .comment-data {
        margin-left: 10px;
        text-align: left;
    }
    .comment-data h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .comment-data h5 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .comment-data-right h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .comment-data-right h5 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 0px;
    }
    .comment-data-right {
        text-align: right;
        margin-right: 10px;
    }
    .text-border {
        border-left: 3px solid gray;
        border-right: 3px solid gray;
        padding-top: 25px;
        padding-bottom: 25px;
        text-align: center;
    }
    .text-red {
        color: var(--primary);
    }
    .text-border a {
        text-decoration: none;
        background-color: var(--primary);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 8px 20px;
        color: var(--light);
    }
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
    @media only screen and (max-width: 767px) {
        .row-style {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .comment-data-right {
            text-align: center;
            margin-right: 0px;
        }
        .comment-data {
            margin-left: 0px;
            text-align: center;
        }
        .desktop {
            display: none;
        }
        .mobile {
            display: block;
        }
        .card-child {
            border-left: 10px solid var(--primary);
        }
        .text-border {
            border-left: unset;
            border-right: unset;
            border-top: 3px solid gray;
            border-bottom: 3px solid gray;
            margin-right: 10px;
            margin-left: 10px;
        }
        .comment-data-col3 {
            margin-left: 10px;
        }
        .img-flag {
            width: 100px;
            height: 100px;
        }
        .text-red {
            margin-bottom: 15px;
            margin-top: -10px;
        }
    }
}