.SeperateMenuOption {
    margin: 5px;
    overflow: scroll;
    .list {
      display: flex;
      h6 {
        color: #4d4d4d;
        font-weight: 600;
        margin: 0px 10px;
        cursor: pointer;
      }
    }
  }
  .SeperateMenuOption::-webkit-scrollbar {
    display: none;
    /* Crome */
  }
  .SeperateMenuOption {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }