.forgot_form {
  .MuiTypography-root {
    margin: 0 !important;
  }
  .forgot_form_container {
    margin: 20px;
  }
  .form-check-input:checked {
    border: none !important;
    background-color: var(--primary) !important;
  }
  .forgot {
    text-align: center;
    margin: 3px;
    font-weight: 700;
    color: black;
  }
  .continue {
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    font-weight: 700;
    color: black;
  }
  .social_icon {
    text-align: center;

    margin-bottom: 20px;
    .fbIcon,
    .googleIcon {
      margin: 5px;
      width: 30px;
      height: 30px;
    }
  }
  .input_field {
    margin-top: 10px;
  }
  .input_field_remember {
    margin-top: 5px;
    color: black;
  }
  .forgot_form_button {
    padding: 10px;
    width: 100%;
    background-color: var(--primary);
    h6 {
      margin: 0;
    }
  }

  .forgot_form_button {
    // margin-top: 25px;
  }
  .form-check-label {
    vertical-align: middle;
    font-weight: 600;
    margin-top: 3px;
  }
  .forgot_form_bottom {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    h5 {
      font-weight: 700;
      font-size: 17px;
    }
    .link {
      text-decoration: none;
      color: var(--primary);
    }
  }
  @media (max-width: 865px) {
    .forgot_form_container {
      margin: 0;
    }
    .input_field_remember {
      color: var(--light);
    }
    .forgot_form_button {
      margin-top: 20px;
      // margin-bottom: 20px;
      padding: 7px 10px;
      margin-left: 0px;
      width: 100%;
      text-align: center;
    }
    .form-check-label {
      font-weight: 500;
    }
    .forgot {
      //   text-align: center;
      //   margin: 3px;
      font-weight: 500;
      color: var(--light);
    }
    .continue {
      margin: 5px;
      font-weight: 500;
    }
    .social_icon {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .forgot_form_bottom {
      h5 {
        color: var(--light);
        font-weight: 500;
      }
    }
  }
  @media (max-width: 400px) {
    .forgot_form_button {
      margin-top: 10px;
      // margin-bottom: 20px;
      padding: 5px 10px;
    }
    .form-check-label {
      font-size: 10px;
    }
    .forgot_form_bottom {
      h5 {
        font-size: 12px;
      }
    }
  }
  .btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary) !important;
    --bs-btn-border-color: var(--primary) !important ;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary) !important;
    --bs-btn-hover-border-color: var(--primary) !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary) !important;
    --bs-btn-active-border-color: var(--primary) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary) !important;
    --bs-btn-disabled-border-color: var(--primary) !important;
  }
}
.MuiBox-root {
  padding: 0 !important;
}
.forgot_form_button {
  padding: 10px;
  width: 100%;
  background-color: var(--primary) !important;
  h6 {
    margin: 0;
  }
}
.forgot_form_button {
  // margin-top: 20px;
  // margin-bottom: 20px;
  padding: 7px 10px;
  margin-left: 0px;
  width: 100%;
  text-align: center;
}
.forgot_form_bottom {
  margin-top: 24px;
  display: flex;
  justify-content: center;

  h5 {
    font-weight: 700;
    font-size: 17px;
  }
  .link {
    text-decoration: none;
    color: var(--primary);
  }
}
@media (max-width: 400px) {
  .forgot_form_button {
    margin-top: 10px;
    // margin-bottom: 20px;
    padding: 5px 10px;
  }
}
