
.news_section {
  padding: 15px 0px;
  // @include themify($themes) {
  //   background: themed("bodyBackgroundColor");
  // }
background-color: var(--light);
  .link {
    color: inherit;
    text-decoration: none;
  }

  // .desc {
  //   margin: 0px 10px;
  //   display: inline-flex;
  //   .descless {
  //     height: 52px;
  //     overflow: hidden;
  //     width: 95%;
  //     text-align: inherit;
  //     text-overflow: ellipsis;
  //     display: inline;
  //   }
  //   .descmore {
  //     width: fit-content;
  //     display: inline;
  //   }
  //   .moreview,
  //   .moreless {
  //     font-size: 15px;
  //     color: blue;
  //     white-space: nowrap;
  //     margin: 3px;
  //   }
  //   .moreless {
  //     align-self: center;
  //   }
  // }
  .desc{
    margin: 0px 10px;
    h1{
text-transform: capitalize;
    }
    p{
      line-height: 30px;
    }
    .description{

      p {
        font-size: 17px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 5px;
        text-align: justify;
      }
    }
    .btn-outline-secondary {
      color: var(--primary);
    --bs-btn-color: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--primary);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--primary);
    --bs-gradient: none;
}
.btn-outline-secondary:hover{
  color: white;
}
  }
  .newscat_row {
    display: flex;
  }
  .newscat_col1 {
    background-color: var(--primary);
    color: var(--light);
    // width: 20%;
    h5 {
      text-align: center;
      margin: 0px !important;
      font-weight: 600;
      font-size: 25px;
      padding: 8px 10px;
    }
  }
  .newscat_col2 {
    background-color: #d9d9d9;
    display: flex;
    // width: 80%;
    overflow: auto;
    h5 {
      cursor: pointer;
      background-color: var(--light);
      padding: 8px 10px;
      margin: 5px 10px;
      font-weight: 600;
      font-size: 14px;
      // padding: 3px 50px;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      white-space: nowrap;
    }
  }
  .newscat_col2::-webkit-scrollbar {
    display: none;
    /* Crome */
  }
  .newscat_col2 {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .NewsPageScrollStyle {
    height: 1000px;
    overflow-y: scroll;
  }
  .NewsPageScrollStyle::-webkit-scrollbar {
    display: none;
    /* Crome */
  }
  .NewsPageScrollStyle {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
  .MuiListItem-gutters {
    padding-left: 10px;
    padding-right: 13px;
  }
  .flexContainer {
    display: flex;
    width: auto;
    flex-direction: row !important;

    flex-wrap: wrap !important;

  }
  .MuiList-root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .MuiPagination-ul {
    justify-content: center;
  }
  .MuiPaginationItem-page.Mui-selected {
    background-color: var(--primary) !important;
    color: white !important;
  }
  .link_color {
    color: black;
    width: 100%;
    text-decoration: none;
  }
  @media only screen and (max-width: 767px) {
    .wid_style {
      width: -webkit-fill-available;
    }
  }
  @media only screen and (min-width: 767px) {
    .flexContainer {
      // margin-left: 18px;
      // margin-right: 18px;
    }
  }
}
